body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;  
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.expreance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
}
.flexibale-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width-img img{
    width:80%;
    padding-left: 30px;
   
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(tomato ,orange);
}
.expreiance-item{
    box-shadow: 10px 10px 40px gray ;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    height:500px;
    border-radius: 10px;
}
#web-developer{
    border-image:linear-gradient(tomato,orange);
    border-left: 5px solid;
    border-image-slice: 1;
}
#full-stack{
    border-image:linear-gradient(blue, cyan);
    border-left: 5px solid;
    border-image-slice: 1; 
}
footer{
    text-align: center;
}